In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
train_query=pd.read_csv('./train/train.query.tsv',sep='\t',header=None)
train_reply=pd.read_csv('./train/train.reply.tsv',sep='\t',header=None)

train_query.columns=['id','query']
train_reply.columns=['id','idx','reply','label']
train_data=pd.merge(train_query,train_reply,how='left',on='id')
useless=['idx','id']
train_data.drop(labels=useless,axis=1,inplace=True)
train_data.dropna(axis=0,how='any')
train_data.drop_duplicates(keep='first',inplace=True)

In [3]:
test_query=pd.read_csv('./test/test.query.tsv',sep='\t',header=None, encoding = 'gbk')
test_reply=pd.read_csv('./test/test.reply.tsv',sep='\t',header=None, encoding = 'gbk')

test_query.columns=['id','query']
test_reply.columns=['id','idx','reply']
test_data=pd.merge(test_query,test_reply,how='left',on='id')
useless=['idx','id']
test_data.drop(labels=useless,axis=1,inplace=True)
# test_data.dropna(axis=0,how='any')
# test_data.drop_duplicates(keep='first',inplace=True)

In [4]:
test_data['label']=666

In [6]:
test_data.to_csv('test.csv',index=False)

In [5]:
test_data

                   query             reply  label
0           东区西区？什么时候下证？            我在给你发套    666
1           东区西区？什么时候下证？         您看下我发的这几套    666
2           东区西区？什么时候下证？        这两套也是金源花园的    666
3           东区西区？什么时候下证？               价钱低    666
4           东区西区？什么时候下证？      便宜的房子，一般都是顶楼    666
...                  ...               ...    ...
53752  这套房子有啥问题吗  我看价格不高            租约还有两年    666
53753  这套房子有啥问题吗  我看价格不高             都有学位的    666
53754             我看看时间吧               没有呢    666
53755             我看看时间吧             今天新上的    666
53756             我看看时间吧  房子我也没看过呢，不知道是几号楼    666

[53757 rows x 3 columns]

In [3]:
dev_train=train_data.sample(n=2000,replace=False)

In [4]:
train_data=train_data.append(dev_train)
train_data.drop_duplicates(keep=False,inplace=True)
train_data.dropna(axis=0,how='any',inplace=True)

In [5]:
train_data.to_csv('train.csv',index=False)
dev_train.to_csv('dev.csv',index=False)

In [6]:
dev_train

                   query                      reply  label
12547          详细介绍一下本房子             楼下就是地铁三号线，胡家庙站      1
5883              这个税点多少                    您预算多钱呢？      0
5986        业主心里价格多少钱卖啊？                     我们推广的好      0
13728  2层这套不临街？房主底价可以多少？                有的。他家孩子刚毕业。      0
17713             可以贷款吗？                      就一墙之隔      0
...                  ...                        ...    ...
5230           这个房子有增值税吗                    十月底就满二了      1
19104               我想看看                  我在线上带您看看吧      1
19441                在哪里  一个在高新区中和那边还有一个是郫县还有个在剑南大道      0
12227             这个位置在哪                         南边      0
5313     请问这套房子价格还能再降多少？                  年前好像我带您看的      0

[2000 rows x 3 columns]

In [7]:
query_list=train_data['query'].to_list()

In [8]:
reply_list=train_data['reply'].to_list()

In [9]:
query_list_len=list(map(len,query_list))

In [10]:
reply_list_len=list(map(len,reply_list))

In [11]:
max(reply_list_len)

200

In [12]:
max(query_list_len)

65

In [13]:
for i in reply_list_len:
    if i>100:
        print(i)

181
152
134
200
115
119
172
141
147
105
132
159
116
106
139
109
117
127
134
152

In [14]:
import chardet

filename = './test/test.query.tsv'
with open(filename, 'rb') as f:
    data = f.read()
    encoding_type = chardet.detect(data)
    print(encoding_type)

{'encoding': 'GB2312', 'confidence': 0.99, 'language': 'Chinese'}

In [18]:
import chardet
import codecs

filename_in = './test/test.query.tsv'
filename_out = './test/utf8_test.query.tsv'

# 输入文件的编码类型
encode_in = 'gb2312'

# 输出文件的编码类型
encode_out = 'utf-8'

with codecs.open(filename=filename_in, mode='r', encoding=encode_out) as fi:
    data = fi.read()
    with open(filename_out, mode='w', encoding=encode_in) as fo:
        fo.write(data)
        fo.close()

with open(filename_out, 'rb') as f:
    data = f.read()
    print(chardet.detect(data))

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb6 in position 2: invalid start byte